{% extends 'base.html' %}

{% block content %}
<table border="1">
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Pazientea</th>
        <th>Aldatu</th>
    </tr>
    {% for zita in zitak %}
    <tr>
           
        <td>{{zita.id}}</td>
        <td>{{zita.data}}</td>
        <td>{{zita.paziente}}</td>
         <td><a href="{% url 'zita-edit'  zita.id %}"><span class="glyphicon glyphicon-plus">Aldatu</span></a><a href="{% url 'zita-delete'  zita.id %}"><span class="glyphicon glyphicon-plus">Ezabatu</span></a></td>
    </tr>





    {% endfor %}
</table>
<a href="{% url 'zita-new' %}"><span class="glyphicon glyphicon-plus">Zita berria gehitu</span></a>
<a href="{% url 'paziente' %}"><span class="glyphicon glyphicon-plus">Pazienteak ikusi</span></a>
<a href="{% url 'mediku' %}"><span class="glyphicon glyphicon-plus">Medikuak ikusi</span></a>
{% endblock content %}