{% extends 'base.html' %}

{% block content %}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Izena</th>
        <th>Abizena</th>
        <th>Adina</th>
        <th>Editatu/Kendu</th>
    </tr>
    {% for medikua in medikuak %}
    <tr>
        <td>{{medikua.id}}</td>
        <td>{{medikua.izena}}</td>
        <td>{{medikua.abizena}}</td>
        <td>{{medikua.adina}}</td>
        <td><a href="{% url 'mediku-delete'  medikua.id %}"><span class="glyphicon glyphicon-plus">Kendu</span></a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'paziente' %}"><span class="glyphicon glyphicon-plus">Pazienteak ikusi</span></a>
<a href="{% url 'mediku-new' %}"><span class="glyphicon glyphicon-plus">Mediku berria sortu</span></a>
{% endblock content %}