{% extends 'base.html' %}

{% block content %}
<table border="1">
    <tr>
        <th>DNI</th>
        <th>Izena</th>
        <th>Abizena</th>
        <th>Gaixotasuna</th>
        <th>Editatu/Kendu</th>
    </tr>
    {% for pazientea in pazienteak %}
    <tr>
           
        <td>{{pazientea.dni}}</td>
        <td>{{pazientea.izena}}</td>
        <td>{{pazientea.abizena}}</td>
        <td>{{pazientea.gaixotasuna}}</td>
        <td><a href="{% url 'paziente-edit'  pazientea.dni %}"><span class="glyphicon glyphicon-plus">Aldatu</span></a>
            <a href="{% url 'paziente-delete'  pazientea.dni %}"><span class="glyphicon glyphicon-plus">Kendu</span></a></td>
           
           
        
    </tr>
    




    {% endfor %}
</table>
<a href="{% url 'paziente-new' %}"><span class="glyphicon glyphicon-plus">Paziente berria gehitu</span></a>

<a href="{% url 'mediku' %}"><span class="glyphicon glyphicon-plus">Medikuak ikusi</span></a>
<a href="{% url 'index' %}"><span class="glyphicon glyphicon-plus">Zitak ikusi</span></a>
{% endblock content %}